<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{#is_connected}}Mon Compte{{/is_connected}}{{^is_connected}}Se Connecter/S'Inscrire{{/is_connected}}</title>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/big_style.css">
    <link rel="stylesheet" href="../css/account_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/materialize_activator.js"></script>
    <script type="text/javascript" src="../js/big_activator.js"></script>
    <script type="text/javascript" src="../js/account_activator.js"></script>
    <script type="text/javascript" src="../js/search_activator.js"></script>
</head>
<body>
    {{{alert}}}
    <header>
        <!--User Display-->
        <table class="centered">
            <thead>
                <tr>
                    <th><a href="/account" class="semi_transparent_white black-text">
                        {{#current_first_name}} Bienvenue, {{current_first_name}} {{/current_first_name}}
                        {{^current_first_name}} Identifiez-vous {{/current_first_name}}
                    </a></th>
                </tr>
            </thead>
        </table>

        <!--Extended Bar (On The Left Side)-->
        <form name="disconnect_form" action="/disconnected" method="post">
            <nav class="nav-extended">
                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                        <div class="background">
                            <img src="../images/background_navbar.jpeg">
                        </div>
                        {{^is_connected}}
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a href="/main"><span class="white-text">Covoiturage</span></a>
                        {{/is_connected}}
                        {{#is_connected}}
                        <a href="/account"><img class="circle" src="{{current_picture}}" alt=" "></a>
                        <a class="normal_cursor"><span class="white-text name"><b>{{current_first_name}} {{current_last_name}}</b> ({{is_connected}})</span></a>
                        <a class="normal_cursor"><span class="white-text email">{{current_email}}</span></a>
                        {{/is_connected}}
                    </div></li>
                    <li><a class="subheader"><b>{{date}}</b></a></li>
                    <li><div class="divider"></div></li>
                    {{#is_connected}}
                    <li><a href="/main">Page Principale</a></li>
                    <li><a href="/adder">Ajouter une Offre/Demande</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader"><ins>Mon Compte</ins></a></li>
                    <li><a class="waves-effect" href="/account">Voir Mon Compte</a></li>
                    <li><a id="disconnect_tab" class="waves-effect" onclick="disconnect_button();">Se Déconnecter</a></li>
                    {{/is_connected}}
                    {{^is_connected}}
                    <li><a href="/account">Se Connecter</a></li>
                    {{/is_connected}}
                </ul>
            </nav>
            <input type="hidden" name="disconnect_btn" value="">
        </form>

        <nav class="main_bar">
            <!--Main Bar (With Title)-->
            <nav class="nav-extended green darken-3">
                <div class="nav-wrapper">
                    <ul class="left show-on-medium-and-down">
                        <li><a data-target="slide-out" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                        <li><a onclick="show_and_hide('search_bar')" class="sidenav-trigger"><img class="material-icons search_icon" src="../images/search.png" alt="search"></a></li>
                        <li><a class='dropdown-trigger sidenav-trigger' data-target='filter_dropdown_nav'><img class="material-icons filter_icon" src="../images/filter.png" alt="filter"></a></li>
                    </ul>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="#" data-target="slide-out" style="display: block" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                        {{#is_connected}}<li><a href="/adder">Ajouter Offres/Demandes</a></li>{{/is_connected}}
                    </ul>
                    <a href="/main" class="brand-logo center"><img id="main_icon" class="material-icons" src="../images/logo.png" alt=" "> Covoiturage</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/account">{{#is_connected}}Mon Compte{{/is_connected}}{{^is_connected}}Se Connecter/S'Inscrire{{/is_connected}}</a></li>
                        <li><a class='dropdown-trigger' data-target='filter_dropdown'><img class="material-icons filter_icon" src="../images/filter.png" alt="filter"></a></li>
                        <li><a onclick="show_and_hide('search_bar')"><img class="search_icon" src="../images/search.png" alt="search"></a></li>
                    </ul>
                </div>
            </nav>

            <!--Additional Bar (With Tabs)-->
            <nav class="nav-extended">
                <form name="disconnect_form" action="/disconnected" method="post">
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent green darken-4">
                            {{^is_connected}}
                                <li class="tab"><a id="connect_tab" class="active" onclick="switch_tab_account('connect', false)">Se Connecter</a></li>
                                <li class="tab"><a id="subscribe_tab" class="" onclick="switch_tab_account('subscribe', false)">S'Inscrire</a></li>
                            {{/is_connected}}
                            {{#is_connected}}
                                <li class="tab"><a id="offer_tab" class="active" onclick="switch_tab_account('offer', true)">Voir mes Offres</a></li>
                                <li class="tab"><a id="demand_tab" class="" onclick="switch_tab_account('demand', true)">Voir mes Demandes</a></li>
                                <li class="tab"><a id="sub_offer_tab" class="" onclick="switch_tab_account('sub_offer', true)">Voir mes Abonnements</a></li>
                                <li class="tab"><a id="modify_tab" class="" onclick="switch_tab_account('modify', true)">Gérer mon Compte</a></li>
                                <li class="tab"><a id="disconnect_tab" class="" onclick="disconnect_button();">Se Déconnecter</a></li>
                                <input type="hidden" name="disconnect_btn" value="">
                            {{/is_connected}}
                        </ul>
                    </div>
                </form>
            </nav>

            <!--Search Bar-->
            <nav id="search_bar" class="search_bar_main">
                <div class="nav-wrapper green darken-2">
                    <div class="input-field">
                        <input id="search" name="search" type="search" onkeyup="dynamic_search()" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons" onclick="show_and_hide('search_bar')">close</i>
                    </div>
                </div>
            </nav>
        </nav>

        <!--Filter Dropdown-->
        <ul id='filter_dropdown_nav' class='dropdown-content'>
            <li><a class="{{order_increase}}" onclick="filter_button('increase');"><i class="material-icons">sort_by_alpha</i>Trier dans l'ordre croissant</a></li>
            <li><a class="{{order_decrease}}" onclick="filter_button('decrease');"><i class="material-icons">sort_by_alpha</i>Trier dans l'ordre décroissant</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="{{filter_start_when}}" onclick="filter_button('start_when');"><i class="material-icons">sort</i>Trier par date de départ</a></li>
            <li><a class="{{filter_start_where}}" onclick="filter_button('start_where');"><i class="material-icons">sort</i>Trier par lieu de départ</a></li>
            <li><a class="{{filter_arrive_where}}" onclick="filter_button('arrive_where');"><i class="material-icons">sort</i>Trier par lieu d'arrivé</a></li>
            <li><a class="{{filter_price}}" onclick="filter_button('price');"><i class="material-icons">sort</i>Trier par prix</a></li>
            <li><a class="{{filter_nbr_passengers}}" onclick="filter_button('nbr_passengers');"><i class="material-icons">sort</i>Trier par nombre de passagers</a></li>
            <li><a class="{{filter_user}}" onclick="filter_button('user');"><i class="material-icons">sort</i>Trier par utilisateur</a></li>
            <li><a class="{{filter_post}}" onclick="filter_button('post');"><i class="material-icons">sort</i>Trier par date de création</a></li>
        </ul>
        <ul id='filter_dropdown' class='dropdown-content'>
            <li><a class="{{order_increase}}" onclick="filter_button('increase');"><i class="material-icons">sort_by_alpha</i>Trier dans l'ordre croissant</a></li>
            <li><a class="{{order_decrease}}" onclick="filter_button('decrease');"><i class="material-icons">sort_by_alpha</i>Trier dans l'ordre décroissant</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a class="{{filter_start_when}}" onclick="filter_button('start_when');"><i class="material-icons">sort</i>Trier par date de départ</a></li>
            <li><a class="{{filter_start_where}}" onclick="filter_button('start_where');"><i class="material-icons">sort</i>Trier par lieu de départ</a></li>
            <li><a class="{{filter_arrive_where}}" onclick="filter_button('arrive_where');"><i class="material-icons">sort</i>Trier par lieu d'arrivé</a></li>
            <li><a class="{{filter_price}}" onclick="filter_button('price');"><i class="material-icons">sort</i>Trier par prix</a></li>
            <li><a class="{{filter_nbr_passengers}}" onclick="filter_button('nbr_passengers');"><i class="material-icons">sort</i>Trier par nombre de passagers</a></li>
            <li><a class="{{filter_user}}" onclick="filter_button('user');"><i class="material-icons">sort</i>Trier par utilisateur</a></li>
            <li><a class="{{filter_post}}" onclick="filter_button('post');"><i class="material-icons">sort</i>Trier par date de création</a></li>
        </ul>
        <form name="filter_form" action="/account/filter" method="post"><input id="filter_btn" type="hidden" name="filter_btn" value="start_when"></form>
    </header>

    <br><br><br><br><br><br><br><br>

    <main>
        {{#is_connected}}
        <!--Manager Account-->
        <div id="modify_list" class="container">
            <br>
            <h5 class="header">Modifier votre Icône utilisatrice</h5>
            <form id="modify_picture" action="/account/modify/picture" method="post" onsubmit="return confirm_action();">
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="url" id="modify_picture_new" name="modify_picture_new" value="">
                        <label for="modify_picture_new">Adresse URL de l'image</label>
                        <span class="helper-text">Laissez le champ vide pour réinitialiser l'image par défaut</span>
                    </div>
                </div>
                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">Appliquer</button>
                </div>
            </form>

            <br><br>

            <h5 class="header">Modifier votre Prénom et/ou Nom</h5>
            <form id="modify_full_name" action="/account/modify/fullname" method="post" onsubmit="return confirm_action();">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="modify_first_name_new" name="modify_first_name_new" value="{{current_first_name}}">
                        <label for="modify_first_name_new">Prénom</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="modify_last_name_new" name="modify_last_name_new" value="{{current_last_name}}">
                        <label for="modify_last_name_new">Nom</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="modify_full_name_pswd" name="modify_full_name_pswd" value="">
                        <label for="modify_full_name_pswd">Mot de passe</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">Appliquer</button>
                </div>
            </form>

            <br><br>

            <h5 class="header">Modifier votre Mot De Passe</h5>
            <form id="modify_pswd" action="/account/modify/pswd" method="post" onsubmit="return confirm_action();">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="password" id="modify_pswd_new" name="modify_pswd_new" value="">
                        <label for="modify_pswd_new">Nouveau mot de passe</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" id="modify_pswd_current" name="modify_pswd_current" value="">
                        <label for="modify_pswd_current">Mot de passe actuel</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">Appliquer</button>
                </div>
            </form>

            <br><br>

            <h5 class="header">Modifier votre Adresse Email</h5>
            <form id="modify_email" action="/account/modify/email" method="post" onsubmit="return confirm_action();">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="email" id="modify_email_new" name="modify_email_new" value="">
                        <label for="modify_email_new">Nouvelle adresse email</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" id="modify_email_pswd" name="modify_email_pswd" value="">
                        <label for="modify_email_pswd">Mot de passe</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">Appliquer</button>
                </div>
            </form>
        </div>

        <!--User Offers Table-->
        <div id="offer_list">
            <br>
            {{#is_offers}}
                <div class="container white">
                    <table id="offer_table" class="centered highlight z-depth-3">
                        <thead>
                            <tr>
                                {{#is_demands}}
                                <th class="unselected selection_cursor" id="offer_0" onclick="choose_tab_search(this.id)">Date de départ</th>
                                <th style="color: #26a69a" class="unselected selection_cursor" id="offer_1" onclick="choose_tab_search(this.id)">Lieu de départ</th>
                                <th class="unselected selection_cursor" id="offer_2" onclick="choose_tab_search(this.id)">Lieu d'arrivé</th>
                                <th class="unselected selection_cursor" id="offer_3" onclick="choose_tab_search(this.id)">Prix du voyage</th>
                                <th class="unselected selection_cursor" id="offer_4" onclick="choose_tab_search(this.id)">Nombre de voyageurs</th>
                                <th class="unselected selection_cursor" id="offer_5" onclick="choose_tab_search(this.id)">Utilisateur</th>
                                <th class="unselected selection_cursor" id="offer_6" onclick="choose_tab_search(this.id)">Posté le...</th>
                                {{/is_demands}}
                                {{^is_demands}}
                                <th class="unselected selection_cursor" id="offer_0" onclick="choose_tab_search(this.id, true, false)">Date de départ</th>
                                <th style="color: #26a69a" class="unselected selection_cursor" id="offer_1" onclick="choose_tab_search(this.id, true, false)">Lieu de départ</th>
                                <th class="unselected selection_cursor" id="offer_2" onclick="choose_tab_search(this.id, true, false)">Lieu d'arrivé</th>
                                <th class="unselected selection_cursor" id="offer_3" onclick="choose_tab_search(this.id, true, false)">Prix du voyage</th>
                                <th class="unselected selection_cursor" id="offer_4" onclick="choose_tab_search(this.id, true, false)">Nombre de voyageurs</th>
                                <th class="unselected selection_cursor" id="offer_5" onclick="choose_tab_search(this.id, true, false)">Utilisateur</th>
                                <th class="unselected selection_cursor" id="offer_6" onclick="choose_tab_search(this.id, true, false)">Posté le...</th>
                                {{/is_demands}}
                                <script>defined_is_offer_global_variable(true)</script>
                            </tr>
                            <input id="chooser_tab_search_offer" type="hidden" value="">
                        </thead>

                        <tbody class="selection_cursor unselected">
                            <form name="details_offer_form" action="/details" method="post">
                                {{#offers_list}}
                                <tr style="color: {{outdated_color}};" class="details_offer_line" onclick="generate_id(this.id, this.className); send_data_button(this.id, this.className);">
                                    <td>Le {{start_date}} à {{start_hour}}</td>
                                    <td>{{start_where}}</td>
                                    <td>{{arrive_where}}</td>
                                    <td>{{price}}€</td>
                                    <td>{{nbr_actual_passengers}}/{{nbr_passengers}}</td>
                                    <td>{{travel_user}}</td>
                                    <td>{{post_date}}</td>
                                </tr>
                                {{/offers_list}}
                                <input id="details_offer_sender" name="details_sender" type="hidden" value="">
                            </form>
                        </tbody>
                    </table>
                </div>
            {{/is_offers}}
            {{^is_offers}}
                {{{not_found_o}}}
            {{/is_offers}}
        </div>

        <!--User Demands Table-->
        <div id="demand_list">
            <br>
            {{#is_demands}}
                <div class="container white">
                    <table id="demand_table" class="centered highlight z-depth-3">
                        <thead>
                            <tr>
                                {{#is_offers}}
                                <th class="unselected selection_cursor" id="demand_0" onclick="choose_tab_search(this.id)">Date de départ</th>
                                <th class="unselected selection_cursor" id="demand_1" onclick="choose_tab_search(this.id)">Lieu de départ</th>
                                <th class="unselected selection_cursor" id="demand_2" onclick="choose_tab_search(this.id)">Lieu d'arrivé</th>
                                <th class="unselected selection_cursor" id="demand_3" onclick="choose_tab_search(this.id)">Utilisateur</th>
                                <th class="unselected selection_cursor" id="demand_4" onclick="choose_tab_search(this.id)">Posté le...</th>
                                <script>defined_is_offer_global_variable(true)</script>
                                {{/is_offers}}
                                {{^is_offers}}
                                <th class="unselected selection_cursor" id="demand_0" onclick="choose_tab_search(this.id, false)">Date de départ</th>
                                <th style="color: #26a69a" class="unselected selection_cursor" id="demand_1" onclick="choose_tab_search(this.id, false)">Lieu de départ</th>
                                <th class="unselected selection_cursor" id="demand_2" onclick="choose_tab_search(this.id, false)">Lieu d'arrivé</th>
                                <th class="unselected selection_cursor" id="demand_3" onclick="choose_tab_search(this.id, false)">Utilisateur</th>
                                <th class="unselected selection_cursor" id="demand_4" onclick="choose_tab_search(this.id, false)">Posté le...</th>
                                <script>defined_is_offer_global_variable(false)</script>
                                {{/is_offers}}
                            </tr>
                            <input id="chooser_tab_search_demand" type="hidden" value="">
                        </thead>

                        <tbody class="selection_cursor unselected">
                            <form name="details_demand_form" action="/details" method="post">
                                {{#demands_list}}
                                <tr style="color: {{outdated_color}};" class="details_demand_line" onclick="generate_id(this.id, this.className); send_data_button(this.id, this.className);">
                                    <td>Le {{start_date}} à {{start_hour}}</td>
                                    <td>{{start_where}}</td>
                                    <td>{{arrive_where}}</td>
                                    <td>{{travel_user}}</td>
                                    <td>{{post_date}}</td>
                                </tr>
                                {{/demands_list}}
                                <input id="details_demand_sender" name="details_sender" type="hidden" value="">
                            </form>
                        </tbody>
                    </table>
                </div>
            {{/is_demands}}
            {{^is_demands}}
                {{{not_found_d}}}
            {{/is_demands}}
        </div>

        <!--User Subscribe to Offer Table-->
        <div id="sub_offer_list">
            <br>
            {{#is_sub_offer}}
                <div class="container white">
                    <table class="centered highlight z-depth-3">
                        <thead>
                            <tr>
                                <th>Date de départ</th>
                                <th>Lieu de départ</th>
                                <th>Lieu d'arrivé</th>
                                <th>Nombre de places réservées</th>
                                <th>Nombre de places restantes</th>
                                <th>Utilisateur</th>
                                <th>Posté le...</th>
                            </tr>
                        </thead>

                        <tbody class="selection_cursor unselected">
                                <form name="details_sub_offer_form" action="/details" method="post">
                                    {{#sub_offer_list}}
                                    <tr style="color: {{outdated_color}};" class="details_sub_offer_line" onclick="generate_id(this.id, this.className); send_data_button(this.id, this.className);">
                                        <td>Le {{start_date}} à {{start_hour}}</td>
                                        <td>{{start_where}}</td>
                                        <td>{{arrive_where}}</td>
                                        <td>{{tickets_nbr}}</td>
                                        <td>{{nbr_actual_passengers}}/{{nbr_passengers}}</td>
                                        <td>{{travel_user}}</td>
                                        <td>{{post_date}}</td>
                                    </tr>
                                    {{/sub_offer_list}}
                                    <input id="details_sub_offer_sender" name="details_sender" type="hidden" value="">
                                </form>
                        </tbody>
                    </table>
                </div>
            {{/is_sub_offer}}
            {{^is_sub_offer}}
                {{{not_found_s}}}
            {{/is_sub_offer}}
        </div>
        {{/is_connected}}


        {{^is_connected}}
        <!--Log In-->
        <div id="connect_list" class="container">
            <br><br>
            <h4 class="center header">Se Connecter</h4>
            <form action="/account/check" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="user" name="user" autofocus>
                        <label for="user">Nom d'utilisateur</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="pswd" name="pswd">
                        <label for="user">Mot de passe</label>
                    </div>
                </div>

                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">S'Enregistrer</button>
                </div>
            </form>
        </div>

        <!--Create Account-->
        <div id="subscribe_list" class="container">
            <h4 class="center header">Créer un Compte</h4>
            <form action="/account/create" method="post" onsubmit="return confirm_action();">
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="text" id="create_username" name="create_username">
                        <label for="create_username">Nom d'utilisateur</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="password" id="create_pswd" name="create_pswd">
                        <label for="create_pswd">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" id="create_first_name" name="create_first_name" value="">
                        <label for="create_first_name">Prénom</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" type="text" id="create_last_name" name="create_last_name" value="">
                        <label for="create_last_name">Nom</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="email" id="create_email" name="create_email">
                        <label for="create_email">Adresse e-mail</label>
                    </div>
                </div>

                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">S'Inscrire</button>
                </div>
            </form>
        </div>
        {{/is_connected}}
    </main>
    <br><br><br>
</body>
</html>