<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Annonce</title>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/big_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/materialize_activator.js"></script>
    <script type="text/javascript" src="../js/big_activator.js"></script>
    <script type="text/javascript" src="../js/adder_activator.js"></script>
</head>
<body>
    {{{alert}}}
    <header>
        <!--User Display-->
        <table class="centered">
            <thead>
                <tr>
                    <th><a href="/account" class="semi_transparent_white black-text">
                        {{#current_first_name}} Bienvenue, {{current_first_name}} {{/current_first_name}}
                        {{^current_first_name}} Identifiez-vous {{/current_first_name}}
                    </a></th>
                </tr>
            </thead>
        </table>

        <!--Extended Bar (On The Left Side)-->
        <form name="disconnect_form" action="/disconnected" method="post">
            <nav class="nav-extended">
                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                        <div class="background">
                            <img src="../images/background_navbar.jpeg">
                        </div>
                        {{^is_connected}}
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a href="/main"><span class="white-text">Covoiturage</span></a>
                        {{/is_connected}}
                        {{#is_connected}}
                        <a href="/account"><img class="circle" src="{{current_picture}}" alt=" "></a>
                        <a class="normal_cursor"><span class="white-text name"><b>{{current_first_name}} {{current_last_name}}</b> ({{is_connected}})</span></a>
                        <a class="normal_cursor"><span class="white-text email">{{current_email}}</span></a>
                        {{/is_connected}}
                    </div></li>
                    <li><a class="subheader"><b>{{date}}</b></a></li>
                    <li><div class="divider"></div></li>
                    {{#is_connected}}
                    <li><a href="/main">Page Principale</a></li>
                    <li><a href="/adder">Ajouter une Offre/Demande</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader"><ins>Mon Compte</ins></a></li>
                    <li><a class="waves-effect" href="/account">Voir Mon Compte</a></li>
                    <li><a id="disconnect_tab" class="waves-effect" onclick="disconnect_button();">Se Déconnecter</a></li>
                    {{/is_connected}}
                    {{^is_connected}}
                    <li><a href="/account">Se Connecter</a></li>
                    {{/is_connected}}
                </ul>
            </nav>
            <input type="hidden" name="disconnect_btn" value="">
        </form>

        <!--Main Bar (With Title)-->
        <nav class="nav-extended green darken-3 main_bar">
            <div class="nav-wrapper">
                <ul class="left show-on-medium-and-down">
                    <li><a data-target="slide-out" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                </ul>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#" data-target="slide-out" style="display: block" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                    {{#is_connected}}<li><a href="/adder">Ajouter Offres/Demandes</a></li>{{/is_connected}}
                </ul>
                <a href="/main" class="brand-logo center"><img id="main_icon" class="material-icons" src="../images/logo.png" alt=" "> Covoiturage</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/account">{{#is_connected}}Mon Compte{{/is_connected}}{{^is_connected}}Se Connecter/S'Inscrire{{/is_connected}}</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <br><br><br><br><br>

    <main>
        <div class="row">
            <form action="/adder/sending" method="post" onsubmit="return confirm_action();">
                <div class="container">
                    <h4 class="center header">Créer une annonce</h4>
                    <br><br>
                    <div class="col s12">
                        <ul class="tabs z-depth-1 pin-under" style="background-color: #F5F5F5">
                            <li class="tab col s6 selection_cursor unselected"><a id="demand_choice" class="darken-3 green white-text active" onclick="mask_offer_areas(false)">Demande</a></li>
                            <li class="tab col s6 selection_cursor unselected"><a id="offer_choice" class="darken-3 green-text" onclick="mask_offer_areas(true)">Offre</a></li>
                        </ul>
                    </div>
                    <input id="offer_or_demand" name="offer_or_demand" type="hidden" value="D">

                    <br><br><br><br><br>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" class="datepicker validate" id="start_date" name="start_date" autocomplete="off" required>
                            <label class="unselected" for="start_date">Date de départ</label>
                            <span class="helper-text">Cliquez sur le champ pour afficher le CALENDRIER</span>
                        </div>

                        <div class="input-field col s6">
                            <input type="text" class="timepicker validate" id="start_hour" name="start_hour" autocomplete="off" required>
                            <label class="unselected" for="start_hour">Heure de départ</label>
                            <span class="helper-text">Cliquez sur le champ pour afficher l'HORLOGE</span>
                        </div>

                        <div class="input-field col s6">
                            <input type="text" id="start_where" name="start_where" class="autocomplete validate" autocomplete="off" required>
                            <label class="unselected" for="start_where">Lieu de départ</label>
                            <span class="helper-text">Entrez le nom d'une ville belge</span>
                        </div>

                        <div class="input-field col s6">
                            <input type="text" id="arrive_where" name="arrive_where" class="autocomplete validate" autocomplete="off" required>
                            <label class="unselected" for="arrive_where">Lieu d'arrivé</label>
                            <span class="helper-text">Entrez le nom d'une ville belge</span>
                        </div>

                        <div id="offer_only" style="display: none">
                            <div class="input-field col s6">
                                <input class="validate" type="number" id="price" name="price" min="0" max="100" step="0.5" autocomplete="off">
                                <label class="unselected" for="price">Prix (€)</label>
                                <span class="helper-text">Ajustez un prix pour le voyage (de 0 à 100€)</span>
                            </div>

                            <div class="input-field col s6">
                                <input class="validate" type="number" id="nbr_passengers" name="nbr_passengers" min="1" max="15" step="1" autocomplete="off">
                                <label class="unselected" for="nbr_passengers">Nombre de passagers</label>
                                <span class="helper-text">Choisissez le nombre de passagers acceptés (de 1 à 15)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <button class="btn center green darken-4 pin-under" type="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </main>
    <br><br><br>
</body>
</html>