<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail d'Annonce</title>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/big_style.css">
    <link rel="stylesheet" href="../css/details_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/materialize_activator.js"></script>
    <script type="text/javascript" src="../js/big_activator.js"></script>
    <script type="text/javascript" src="../js/details_activator.js"></script>
</head>
<body>
    {{{alert}}}
    <header>
        <!--User Display-->
        <table class="centered">
            <thead>
                <tr>
                    <th><a href="/account" class="semi_transparent_white black-text">
                        {{#current_first_name}} Bienvenue, {{current_first_name}} {{/current_first_name}}
                        {{^current_first_name}} Identifiez-vous {{/current_first_name}}
                    </a></th>
                </tr>
            </thead>
        </table>

        <!--Extended Bar (On The Left Side)-->
        <form name="disconnect_form" action="/disconnected" method="post">
            <nav class="nav-extended">
                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                        <div class="background">
                            <img src="../images/background_navbar.jpeg">
                        </div>
                        {{^is_connected}}
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a class="normal_cursor"><img class="circle-clipper"></a>
                        <a href="/main"><span class="white-text">Covoiturage</span></a>
                        {{/is_connected}}
                        {{#is_connected}}
                        <a href="/account"><img class="circle" src="{{current_picture}}" alt=" "></a>
                        <a class="normal_cursor"><span class="white-text name"><b>{{current_first_name}} {{current_last_name}}</b> ({{is_connected}})</span></a>
                        <a class="normal_cursor"><span class="white-text email">{{current_email}}</span></a>
                        {{/is_connected}}
                    </div></li>
                    <li><a class="subheader"><b>{{date}}</b></a></li>
                    <li><div class="divider"></div></li>
                    {{#is_connected}}
                    <li><a href="/main">Page Principale</a></li>
                    <li><a href="/adder">Ajouter une Offre/Demande</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader"><ins>Mon Compte</ins></a></li>
                    <li><a class="waves-effect" href="/account">Voir Mon Compte</a></li>
                    <li><a id="disconnect_tab" class="waves-effect" onclick="disconnect_button();">Se Déconnecter</a></li>
                    {{/is_connected}}
                    {{^is_connected}}
                    <li><a href="/account">Se Connecter</a></li>
                    {{/is_connected}}
                </ul>
            </nav>
            <input type="hidden" name="disconnect_btn" value="">
        </form>

        <!--Main Bar (With Title)-->
        <nav class="nav-extended green darken-3 main_bar">
            <div class="nav-wrapper">
                <ul class="left show-on-medium-and-down">
                    <li><a data-target="slide-out" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                </ul>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#" data-target="slide-out" style="display: block" class="sidenav-trigger"><img class="material-icons menu_icon" src="../images/menu.png" alt="menu"></a></li>
                    {{#is_connected}}<li><a href="/adder">Ajouter Offres/Demandes</a></li>{{/is_connected}}
                </ul>
                <a href="/main" class="brand-logo center"><img id="main_icon" class="material-icons" src="../images/logo.png" alt=" "> Covoiturage</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/account">{{#is_connected}}Mon Compte{{/is_connected}}{{^is_connected}}Se Connecter/S'Inscrire{{/is_connected}}</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <br><br><br><br><br>

    {{#travel_details}}
    <main>
        <div class="row">
            <div class="container">
                <h4 class="center header">Annonce de <b>{{travel_user}}</b>{{#is_same_user}} (Vous){{/is_same_user}}</h4>
                <br>
                <div class="row">
                    <div class="col s6 m6">
                        <div class="card-panel blue-grey darken-1 hoverable">
                            <span class="white-text">
                                Posté le {{post_date}}
                            </span>
                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class="card-panel blue-grey darken-1 hoverable">
                            <span class="white-text">
                                Cette annonce est une <b>{{offer_or_demand}}</b> pour un voyage.
                            </span>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{start_date}}" type="text" id="start_date" name="start_date" autocomplete="off" readonly="readonly">
                        <label class="unselected normal_cursor" for="start_date">Date de départ</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{start_hour}}" type="text" id="start_hour" name="start_hour" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="start_hour">Heure de départ</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{start_where}}" type="text" id="start_where" name="start_where" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="start_where">Lieu de départ</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{arrive_where}}" type="text" id="arrive_where" name="arrive_where" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="arrive_where">Lieu d'arrivé</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{travel_user}}{{#is_same_user}} (Vous){{/is_same_user}}" type="text" id="travel_user" name="travel_user" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="travel_user">Proposé par</label>
                    </div>

                    {{#is_offer}}
                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{price}}" type="text" id="price" name="price" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="price">Prix (€)</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{nbr_actual_passengers}}" type="text" id="nbr_actual_passengers" name="nbr_actual_passengers" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="nbr_actual_passengers">Nombre actuel de passagers</label>
                    </div>

                    <div class="input-field col s6">
                        <input class="unselected normal_cursor" value="{{nbr_passengers}}" type="text" id="nbr_passengers" name="nbr_passengers" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="nbr_passengers">Nombre maximum de passagers</label>
                    </div>

                    {{#is_same_user}}
                    <div class="input-field col s12">
                        <input class="unselected normal_cursor" value="{{subscribers}}" type="text" id="passengers" name="passengers" autocomplete="off" readonly="readonly">
                        <label class="unselected" for="passengers">Utilisateurs ayant souscrit à l'offre</label>
                    </div>
                    {{/is_same_user}}
                    {{/is_offer}}
                </div>

                <br>

                {{#is_connected}} {{#is_offer}} {{^is_same_user}} {{^is_full}}
                <h5 class="header center">Souscrire à cette offre</h5>
                <form id="subscribe_offer" action="/details/subscribe" method="post" onsubmit="return confirm_action();">
                    <div class="row">
                        <div class="input-field col s12">
                            <input class="validate" type="number" id="nbr_new_passengers" name="nbr_new_passengers" min="1" max="{{calc_nbr_passengers}}" step="1" autocomplete="off">
                            <label class="unselected" for="nbr_new_passengers">Nombre de passagers</label>
                            <span class="helper-text">{{calc_nbr_passengers}} place(s) restantes <b>(Vous y compris)</b></span>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" id="pswd_new_passengers" name="pswd_new_passengers" value="">
                            <label class="unselected" for="pswd_new_passengers">Mot de passe</label>
                        </div>
                    </div>

                    <div class="center">
                        <button class="btn center green darken-4 pin-under" type="submit">Envoyer</button>
                    </div>
                    <input name="details_sender" type="hidden" value="{{post_date}}">
                </form>
                {{/is_full}} {{/is_same_user}} {{/is_offer}} {{/is_connected}}

                <div id="delete_section">
                    <h5 class="header center">Supprimer cette {{offer_or_demand}}</h5>
                    <form id="delete_travel" action="/details/delete" method="post" onsubmit="return confirm_delete();">
                        <div class="row">
                            <div class="input-field col s12">
                                <input class="" type="password" id="pswd_delete" name="pswd_delete" value="">
                                <label class="unselected" for="pswd_delete">Mot de passe</label>
                            </div>
                        </div>

                        <div class="center">
                            <button class="btn center green darken-4 pin-under" type="submit">Envoyer</button>
                        </div>
                        <input name="details_sender" type="hidden" value="{{post_date}}">
                    </form>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large pulse yellow darken-2"><i class="large material-icons">menu</i></a>
            <ul>
                {{#is_connected}} {{^is_same_user}}
                <li><a class="btn-floating tooltipped blue" href="mailto:{{email_creator}}?subject=Covoiturage%20du%20{{start_date}}%20({{start_hour}})%20allant%20de%20{{start_where}}%20à%20{{arrive_where}}%20[{{is_connected}}]" data-position="left" data-tooltip="Envoyer un email à {{travel_user}}"><i class="material-icons">email</i></a></li>
                {{/is_same_user}} {{/is_connected}}
                <li><a class="btn-floating tooltipped green" href="https://www.google.fr/maps/dir/{{start_where}}/{{arrive_where}}" target="_blank" data-position="left" data-tooltip="Afficher le trajet"><i class="material-icons">directions</i></a></li>
                {{#is_connected}} {{#is_same_user}}
                <li><button class="btn-floating tooltipped red darken-3" data-position="left" data-tooltip="Supprimer cette {{offer_or_demand}}" onclick="remove_travel_button()"><i class="material-icons">delete_forever</i></button></li>
                {{/is_same_user}} {{/is_connected}}
            </ul>
        </div>

    </main>
    {{/travel_details}}
    <br><br><br>
</body>
</html>