@font-face {
    font-family: "ubuntu";
    src: url("../fonts/ubuntu/UbuntuMono-R.ttf");
}

body {
    background-color: whitesmoke;
    font-family: "ubuntu", serif;
}

.header {
    margin: 0 auto;
    line-height: 230%;
    cursor: default;
    user-select:none;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

#main_icon {
    width : 40px;
    height : 30px;
    transform: translateY(3px);
}

.menu_icon {
    width : 25px;
    height : 17px;
    transform: translateY(3px);
}

.search_icon {
    width : 30px;
    height : 30px;
    transform: translateY(10px);
}

.filter_icon {
    height: 37px;
    width: 37px;
    transform: translateY(12px)
}

#search_bar {
    display : none;
    float: left;
}

.semi_transparent {
    background: rgba(255, 255, 255, 0.3);
}

.normal_cursor {
    cursor: default;
}

.selection_cursor:hover {
    cursor: pointer;
}

.unselected {
    user-select:none;
}

.main_bar, .additional_bar, .search_bar_main {
    float: left;
}

.pin-under {
    position: static;
}
