#offer_list, #demand_list {
    display: none;
}

#info_list {
    display: block;
}

div.presentation_pictures_cart {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.presentation_pictures {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.presentation_pictures_text {
    text-align: center;
    padding: 10px 20px;
}